{% extends 'core/base.html' %} {% load static %} {% block title %}Inicio{% endblock %} {% block content %}
<h1>Title: {{ videojuego.title }}</h1>
<body>
<p><strong>Author:</strong> <a href="">{{ videojuego.owner }}</a></p>
<!-- author detail link not yet defined -->
<p><strong>Summarys:</strong> {{ videojuego.sinopsis }}</p>
<p><strong>ISBN:</strong> {{ videojuego.categoria }}</p>
<div id="formulario" id_co="{{ videojuego.id }}">{% csrf_token %}
            <form method="post" id="formdata">
                <label for="nombre">Comentario: </label><input type="text"  name="nombre" id="nombre" required="required">
                <input type="button" id="botonenviar" value="Enviar">
            </form>
            <div id="comentario"></div>
        </div>
        
{% endblock %} {% block js %}
<script src="{% static 'catalogoG/js/and.js' %}"></script>
{% endblock %}
</body>