{% extends 'core/base.html' %} {% load static %}{% block title %}Inicio{% endblock %} {% block content %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'pacho/css/style_detalle_videojuego.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'pacho/css/style_stars_rating.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'pacho/css/navbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'pacho/css/style_catalogo_general.css' %}">
  </head>
  <body>
   	<div class="mainContent container-fluid" id="borrado">
      <div class="row justify-content-center">
        <div class="col-9">
          <div class="vgSection">
            <div class="vgDetailViewSection">
              <div class="row align-items-center">
                <div class="col-md-6">
                  <img class="vgImg" src="{{videojuego.image.url}}">
                </div>
                <div class="col-md-6">
                  <h2 class="vgTitle">{{ videojuego.title }}</h2>
                  <div class="row">
                    <div class="col-md-12">
                      <fieldset id="estrellitas" data-role="controlgroup" class="rating desktop-display-important pt-0">
                        <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                        <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                        <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                        <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                        <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                      </fieldset>
                    </div>
                  </div>
                  <div>
                    <h5 class="vgDetailText">{{ videojuego.FechaLanzamiento }}</h5>
                    <h5 class="vgDetailText">{{ videojuego.categoria }}</h5>
                    <h5 class="vgDetailText">{{ videojuego.duracionPromedio }}</h5>
                    {% if  videojuego.precio  > 0 and  videojuego.Descuento != videojuego.precio  %}
                    <h5 class="vgDetailText"><span style='color:black;text-decoration:line-through'>
                        <span style='color:white'>Antes ${{ videojuego.precio }}</span>
                    </span></h5>
                    <h5 class="vgDetailText">Ahora ${{ videojuego.Descuento }}</h5>
                    {% else %}
                    <h2 class="vgPrice">$ {{ videojuego.precio }}</h2>
                    {% endif%}
                    <p class="parrafoSinopsis">
                    {{ videojuego.sinopsis }}
                    </p>
                  </div>
                </div>  
              </div>  
            </div>
          </div>
          <div class="commentsSection" id="formulario" id_co="{{ videojuego.id }}">{% csrf_token %}
            <div class="titleDiv">
              <h1 class="welcome_text">Comentarios</h1>
            </div>
            <div class="commentTextArea">
              <div class="row">
                <div class="col-md-2">
                  <div class="imgBox">
                    <img class="imgProfile" src="{% static 'pacho/assets/man.png' %}">
                  </div>
                </div>
                <div class="col-md-10">
                  <div class="form-group">
                    <label for="exampleFormControlTextarea1" class="commentTextAreaLabel">Realizar comentario:</label>
                    <textarea type="text" class="form-control" id="exampleFormControlTextarea1" nombre="exampleFormControlTextarea1" rows="3" required></textarea>
                  </div>
                  {% if request.user.is_authenticated %}
                  <button type="button" id="botonenviar" class="btn btn-danger btn-lg">COMENTAR</button>
                  {% else %}
                <li>
                    <label  class="commentTextAreaLabel">¿Aun no haz iniciado sesion?</label>

                    <a href="{% url 'login' %}" class="txt2">
                        Ingresa aquí
                    </a>
                </li>
                {% endif %}
                </div>
              </div>
              <div class="commentsUsersRow" id="comentario">  
              </div>
            </div>
          </div>    
		    </div>
    	</div>
  	</div>

    <!-- Optional JavaScript -->
    
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    {% block js %}
    <script src="{% static 'catalogoG/js/coment.js' %}"></script>
     {% endblock %}
  </body>
</html>
{% endblock %}

