{% extends 'core/base.html' %} {% load static %} {% block title %}Inicio{% endblock %} {% block content %}
<h1>Title: {{ videojuego.title }}</h1>

<p><strong>Author:</strong> <a href="">{{ videojuego.owner }}</a></p>
<!-- author detail link not yet defined -->
<p><strong>Summary:</strong> {{ videojuego.sinopsis }}</p>
<p><strong>ISBN:</strong> {{ videojuego.categoria }}</p>
<div class="col-md-9 mx-auto mb-5">
    <form action="" method="post">{% csrf_token %} {{ form.as_p }}
        <p><input type="submit" class="btn btn-primary btn-block" value="Confirmar"></p>
    </form>
</div>
{% endblock %}