{% extends 'core/base.html' %} {% block title %}Catalogo{% endblock %} {% block background %} {% load static %} {% endblock %} {% block headers %} {% endblock %} {% block content %}
<div class="container">
    <div style="padding-top:50px; text-align:center;">
        <h1>{{title}}</h1>
    </div>
</div>{% for Videojuegos in catalogo %}

<!-- Proyecto -->
<div class="row project">
    <div class="col-lg-3 col-md-4 offset-lg-1">
        <img class="img-fluid" src="{{Videojuegos.image.url}}" alt="">
    </div>
    <div class="col-lg-7 col-md-8">
        <h2 class="section-heading title">{{Videojuegos.title}}</h2>
        <p>{{Videojuegos.sinopsis}}</p>
        <p>{{Videojuegos.categoria}}</p>
    </div>
</div>
{% endfor %} {% endblock %}