{% extends 'core/base.html' %} {% load static %} {% block title %}Videojuego{% endblock %} {% block content %}{% load static %}
<!doctype html>
<html lang="en">
  <head>
  
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'pacho/css/style_detalle_videojuego.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'pacho/css/style_stars_rating.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'pacho/css/navbar.css' %}">

</head>
  <body>
		<div class="mainContent container-fluid">
      <div class="row justify-content-center">
        <div class="col-9">
          <div class="titleDiv">
           <h1 class="welcome_text">Subir videojuego</h1>
          </div>
          <div class="vgSection margenExtra">
            <form class="vgDetailViewSection" enctype="multipart/form-data" action="" method="post">{% csrf_token %}
            
              <div class="row align-items-center">
                <div class="col-md-6">
                    {{ videojuegos_form.image }}
                    {{ videojuegos_form.errors }}
                    <label class="custom-file-label" for="customFile">
                      <img class="vgImg" src="{% static 'pacho/assets/uploadImg.jpg' %}">
                    </label>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                  {{ videojuegos_form.title }}                  
                  </div>
                  <div>
                    <div class="form-group">
                    {{ videojuegos_form.FechaLanzamiento }}
                    </div>
                    <div class="form-group">
                      {{ videojuegos_form.categoria }}
                    </div>        
                    <div class="form-group">
                      {{ videojuegos_form.duracionPromedio }}
                    </div>                             
                    <div class="form-group">
                      {{ videojuegos_form.precio }}
                    </div>                             
                    <div class="form-group">
                      <label for="exampleFormControlTextarea1">Sinopsis</label>
                      {{ videojuegos_form.sinopsis }}
                    </div>
                  </div>
                  <button type="submit" class="btn btn-danger btn-lg">SUBIR VIDEOJUEGO</button>
                 </div>  
                </div> 
             </div>
           </form>
		    </div>
    	</div>
  	</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
{% endblock %}